<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <img class="rounded-circle" src="~/img/MarinaEfremova.jpeg" alt="Марина Ефремова" height="100" width="100" />
            <h2>Марина Ефремова</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2>Контакты для связи</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>
                    <a href="mailto: mar.efremova2017@gmail.com" class="text-decoration-none"><i class="fas fa-envelope-square fa-3x"></i></a>
                    <a href="https://github.com/MarinaEfremova78" class="text-decoration-none"><i class="fab fa-github fa-3x"></i></a>
                    <a href="https://vk.com/id183340188" class="text-decoration-none"><i class="fab fa-vk fa-3x"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>
